body{

    /* background-color: black; */
    background-image:url('images/bg-desktop.png');
      background-repeat:no-repeat;
      background-attachment: fixed;
      background-size: cover;
      
    min-height: 100vh;
}
.icon-img{
    width: 48px;
    height: 35px;
}
.left-box{
    background-color: hsl(228, 56%, 26%);
    padding: 80px 80px;
    border-radius: 10px 120px 15px 5px;
    width: 350px;
    height: 201px;
}

.right-box{
    background-color:hsl(228, 56%, 26%);
    width: 500px;
    border-radius: 12px;
    position: relative;

}
.progress{
    height: 14px;
    background: #0C122C;
    border-radius:20px;
}
.progress-bar{
    width: 81.5%;
    background:linear-gradient(to right, #FF8A8A, #FF4AD8); /* CSS MDN WEB DOCS LINEAR-GRADIENT*/
    border-radius: 20px;
}
.comment-box{
    border-radius:10px;
    transform: translate(-40%, -50%);
}